
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0%;
}
.btn-primary{
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 8px;
    background-color: #FF900E;
    color: #fff;
    font-size: calc(.0625rem*20);

}
/* header style */
header{
    background: rgba(255, 144, 14, 0.10);
    padding:50px 240px
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
}
nav li a {
    text-decoration: none;
    color: #424242;
}
.nav_title{
    font-size: 2.8rem;
    font-weight: 700px;
    color:#424242
}
.banner-content{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;

}
.banner-title{
    font-size: 4rem;
    font-weight: 700px;
    color:#131313;
}
.banner-des{
    color: #727272;
}